@using CEBlog.Models
@using CEBlog.Services
@using CEBlog.Enums
@using Microsoft.AspNetCore.Identity
@using X.PagedList
@using X.Web.PagedList

@inject UserManager<BlogUser> userManager
@inject IImageService imageService

@model IPagedList<Post>

<section class="main-post-area padding">
	<div class="container">
		<div class="row gy-5 gy-lg-0 main-area">
			<div class="col-lg-8">

				<div class="blog-list row gy-5">
					@{
						int count = 1;
					}
					@foreach (var post in Model)
					{
						<article class="col-lg-12 col-md-6">
							<div class="post-card horizontal-card img-hover-move">
								<div class="post-thumb media">
									<a asp-action="Details" asp-controller="Posts" asp-route-slug="@post.Slug">
										<img src="@imageService.DecodeImage(post.ImageData, post.ContentType)" alt="thumb">
									</a>
								</div>
								<div class="post-content">
									<ul class="post-meta">
										<li><a asp-action="CategoryIndex" asp-controller="Posts" asp-route-categoryname="@post.Blog.Name">@post.Blog.Name</a></li>
										<li class="sep"></li>
										<li><a asp-action="ArchiveIndex" asp-controller="Posts" asp-route-publishdate="@post.Created.ToString("MMM.dd.yyyy")" class="date">@post.Created.ToString("MM.dd.yyyy")</a></li>
									</ul>
									<h3><a asp-action="Details" asp-controller="Posts" asp-route-slug="@post.Slug" class="text-hover">@post.Title</a></h3>
									<p>@post.Abstract</p>
									<ul class="post-card-footer">
										<li><a asp-action="Details" asp-controller="Posts" asp-route-slug="@post.Slug" class="read-more">Continue Reading</a></li>
										<li>
											<a asp-action="Details" asp-controller="Posts" asp-route-slug="@post.Slug" asp-fragment="postComments" class="comment">
												<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24" fill="currentColor">
													<path d="M250.001-410.001h459.998v-59.998H250.001v59.998Zm0-120h459.998v-59.998H250.001v59.998Zm0-120h459.998v-59.998H250.001v59.998Zm609.998 531.537L718.461-260.001H172.309q-30.308 0-51.308-21t-21-51.308v-455.382q0-30.308 21-51.308t51.308-21h615.382q30.308 0 51.308 21t21 51.308v669.227ZM172.309-320h571.69L800-264.615v-523.076q0-4.616-3.846-8.463-3.847-3.846-8.463-3.846H172.309q-4.616 0-8.463 3.846-3.846 3.847-3.846 8.463v455.382q0 4.616 3.846 8.463 3.847 3.846 8.463 3.846ZM160-320V-800v480Z"></path>
												</svg><span>@post.Comments.Count()</span>
											</a>
										</li>
									</ul>
								</div>
							</div>
							<!--/.post-card-->
						</article>

						if (count == 4)
						{
							<div class="col-lg-12">
								<div class="subscribe-card">
									<div class="subscribe-heading">
										<img class="bell-animation" src="~/img/bell.png" alt="bell">
										<h3>Subscribe to Chikere.dev blog</h3>
									</div>
									<form class="subscribe-form">
										<div class="mc-fields">
											<input id="mc-email" class="form-control" type="email" placeholder="Your Email" required="">
											<button  id="btn-subscribe" class="default-btn text-anim" data-text="Subscribe"><span>S</span><span>u</span><span>b</span><span>s</span><span>c</span><span>r</span><span>i</span><span>b</span><span>e</span></button>
										</div>
										<div class="clearfix"></div>
										<div id="mc-form-messages" class="alert" role="alert"></div>
									</form>
								</div>
								<!--/.subscribe-card-->
							</div>
						}
						count++;
					}
				</div>
				<!--/.blog-list-->

				<ul class="pagination-wrap">
					@if (Model.PageNumber != 1)
					{
						<li><a asp-action="Index" asp-route-page="@(Model.PageNumber - 1)"><svg xmlns="http://www.w3.org/2000/svg" height="23" viewBox="0 -960 960 960" width="23" fill="currentColor"><path d="M366.924-213.463 100.001-480.385l266.923-266.922 41.768 41.768-194.54 195.155h646.231v59.999H214.537l195.155 195.154-42.768 41.768Z" /></svg></a></li>
					}

					@for (int p = 1; p <= Model.PageCount; p++)
					{
						if (p == Model.PageNumber)
						{
							<li><a asp-action="Index" asp-route-page="@p" class="active">@p</a></li>
						}
						else
						{
							<li><a asp-action="Index" asp-route-page="@p">@p</a></li>
						}
					}

					@if (Model.PageNumber != Model.PageCount)
					{
						<li><a asp-action="Index" asp-route-page="@(Model.PageNumber + 1)"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24" fill="currentColor"><path d="m553.846-253.847-42.153-43.384 152.77-152.77H180.001v-59.998h484.462l-152.77-152.77 42.153-43.384L779.999-480 553.846-253.847Z" /></svg></a></li>
					}
				</ul>
				<!--/.pagination-wrap-->
			</div>

			<div class="col-lg-4">
				<partial name="_SidebarPartial" />
			</div>
		</div>
	</div>
</section>
<!--/.main-post-wrap-->
	
@section Scripts {
    <script>
		$(document).ready(function () {
			$("#btnSubscribe").on("click", function () { 
				var formData = new FormData();
				formData.append("email", $("#mc_email").val());
				$.ajax({
					type: "POST",
					url: "@Url.Action("PostSubscriber")",
					dataType: "json",
					contentType: false,
					processData: false,
					cache: false,
					data: formData,
					success: function() {
						//reset form 
						$("#mc_email").val("");
					},
					error: function() {
						alert("Failed to receive the Data");
					}
				});
			});

			$("#btn-subscribe").on("click", function () {
				var formData = new FormData();
				formData.append("email", $("#mc-email").val());
				$.ajax({
					type: "POST",
					url: "@Url.Action("PostSubscriber")",
					dataType: "json",
					contentType: false,
					processData: false,
					cache: false,
					data: formData,
					success: function () {
						//reset form
						$("#mc-email").val("");
					},
					error: function () {
						alert("Failed to receive the Data");
					}
				});
			});

			$("p").tooltip();
		});


		var swalMsg = '@TempData["SweetAlert"]'
		if (swalMsg != "") {
			Swal.fire({
				icon: 'success',
				title: swalMsg,
				timer: 2500
			})
		}
	</script>
}