@using CEBlog.Enums
@model CEBlog.ViewModels.PostEditViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutForAdmin.cshtml";
}

<h1>Edit</h1>

<h4>Post</h4>
<hr />
<div class="row">
    <div class="col">
        <form asp-controller="Posts" asp-action="Edit" method="post" enctype="multipart/form-data">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="@Model.Post.Id" />

            <div class="form-group">
                <label asp-for="@Model.Post.BlogId" class="control-label"></label>
                <select asp-for="@Model.Post.BlogId" class="form-control" asp-items="ViewBag.BlogId"></select>
                <span asp-validation-for="@Model.Post.BlogId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Post.Title" class="control-label"></label>
                <input asp-for="@Model.Post.Title" class="form-control" />
                <span asp-validation-for="@Model.Post.Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Post.Image" class="control-label"></label>
                <input type="file" name="newImage" class="form-control" accept=".png,.jpg,.jpeg,.gif" />
                <span asp-validation-for="@Model.Post.Image" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Post.Abstract" class="control-label"></label>
                <textarea asp-for="@Model.Post.Abstract" class="form-control"></textarea>
                <span asp-validation-for="@Model.Post.Abstract" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Post.Content" class="control-label"></label>
                <textarea id="Content" asp-for="@Model.Post.Content" class="form-control"></textarea>
                <span asp-validation-for="@Model.Post.Content" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label class="control-label">Manage Tags</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="row mb-2">
                            <div class="col">
                                <input type="text" class="form-control" id="TagEntry" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col d-grid">
                                <button onclick="AddTag()" name="Add" type="button" class="btn btn-dark btn-sm">Add</button>
                            </div>
                            <div class="col d-grid">
                                <button onclick="DeleteTag()" name="Delete" type="button" class="btn btn-dark btn-sm">Delete</button>
                            </div>
                        </div>
                    </div>
                    <div class="col d-grid">
                        <select name="TagValues" id="TagList" multiple></select>
                    </div>
                </div>
            </div>
            <!--./Manage Tags-->

            <div class="form-group mb-2"> 
                <label asp-for="@Model.drpPosts"></label><br />
                <select asp-for="@Model.PostsIds" asp-items="Model.drpPosts" class="form-control" multiple="multiple" id="Posts_dropdown"></select>
                <span asp-validation-for="@Model.drpPosts" class="text-danger"></span>
            </div>

            <!--./Related Articles-->

            <div class="form-group mb-2">
                <label asp-for="@Model.Post.ReadyStatus" class="control-label"></label>
                <select asp-for="@Model.Post.ReadyStatus" class="form-control" asp-items="Html.GetEnumSelectList<ReadyStatus>()"></select>
                <span asp-validation-for="@Model.Post.ReadyStatus" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a href="/Posts/Index">Back to List</a>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#Posts_dropdown').multiselect();
        });
    </script>
    <script>

        let tagValues = '@ViewData["TagValues"]';
        let postValues = '@ViewData["PostValues"]';
        
        //Default font size but not for placeholder...
        $('#Content').summernote({
            placeholder: "Post Body"
        });
    </script>

	<script src="~/js/custom.js"></script>

}
